/* Hide original Tidal lyrics content if present */
[data-test="lyrics-container-provider-info"] {
    display: none !important;
}

[data-test="lyrics-content-container"] {
    display: none !important;
}

/* Style for our injected lyrics container */
#lyrics-plus-panel #lyrics-plus-container {
    display: block;
    min-height: 70svh;
}

#lyrics-plus-panel {
    height: 100%;
    width: 100%;
    min-height: 285px;
    max-height: 56svh;
    --lyplus-font-family: var(--market-core-type-display-font-family);
}

#lyplus-patch-container {
    opacity: 1;
    height: 100%;
    width: 100%;
    min-height: 285px;
    max-height: 56svh;
    z-index: 1;
    display: block;
    position: relative;
    mix-blend-mode: plus-lighter;
    mask-image: linear-gradient(to bottom, #0000 0%, #000 10%, #000 90%, #0000 100%);
    -webkit-mask-image: linear-gradient(to bottom, #0000 0%, #000 10%, #000 90%, #0000 100%);
    overflow: scroll;
    scrollbar-width: none;

    --lyrics-scroll-padding-top: 15%;
    scroll-padding-top: 25%;
    scroll-padding-block-start: 25%;
    overflow-anchor: auto;
    scrollbar-width: none;
    will-change: scroll-position;
    scroll-snap-type: y proximity;
}

#lyrics-plus-panel .lyrics-line {
    font-size: 40px;
}

.react-tabs #lyrics-plus-buttons-wrapper {
    display: flex;
    top: 20px;
    left: 20px;
    width: min-content;
    z-index: 3;
}

#lyrics-plus-buttons-wrapper button {
    background: #ffffff14;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.react-tabs #lyrics-plus-translation-dropdown {
    top: 4em;
    left: 80%;
}
